ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}