.link__nav-up{
  display: none;
}

.link__name_hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link__nav-up{
  position: fixed;
  right: 15px;
  bottom: 50px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid var(--accent-color);
  background-image: url(../images/icons/nav-up.svg);
  z-index: 6;
  opacity: 0.4;
  transition: opacity 300ms linear;
  &:hover{
    opacity: 1;
  }
}

