:root {
    --accent-color: #FF6B09;
    --primary-text-color:  #111518;
    --secondary-text-color: #B9B9B9;
    --third-text-color: #3D3D3D;
    --dark-theme-text-color: #FFFFFF;
    --background-light-theme: #E5E5E5;
    --background-accent-color: #FF6B09;
}