<section class="about__section">
  <div class="container about__container">
    <h2 id="about" class="about__title">Teacher</h2>
    <div class="about">
      <div class="about__tablet">
        <picture>
          <source
            media="(max-width: 1679px)"
            srcset="
              ./images/about-img/teacher-mob-tab.webp    1x,
              ./images/about-img/teacher-mob-tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1679px)"
            srcset="
              ./images/about-img/teacher-mob-tab.jpg    1x,
              ./images/about-img/teacher-mob-tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1680px)"
            srcset="
              ./images/about-img/teacher-desktop.webp    1x,
              ./images/about-img/teacher-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1680px)"
            srcset="
              ./images/about-img/teacher-desktop.jpg    1x,
              ./images/about-img/teacher-desktop@2x.jpg 2x
            "
          />
          <img src="./images/about-img/teacher-mob-tab.jpg" alt="teacher" />
        </picture>
      </div>
      <div class="about-list__wrapper">
        <h3 class="about__subtitle">Elena Morozova</h3>
        <ul class="about-list">
          <li class="about-list__item">6 yeards of experience in preparing students for UPE</li>
          <li class="about-list__item">Own result of passing VNO - 197 points 2 years in a row</li>
          <li class="about-list__item">
            Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
            Test)
          </li>
        </ul>
        <p class="about__paragraph">
          <span class="about__paragraph_brake"
            >Graduated from the Institute of International Relations of the NAU with a degree in
            translator-analyst.</span
          >
          <span class="about__paragraph_brake"
            >In spare time takes courses from the best universities in the world on effective teaching
            and essay writing techniques.</span
          >
          <span class="about__paragraph_brake"
            >Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
            University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing
            (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning
            (University of Houston).</span
          >
        </p>
        <a class="about__link" href="#">Cambrige English Entry Level Certificate</a>
      </div>
    </div>
  </div>
</section>
