<section class="about">
  <div class="container about__container">
    <div class="about__tablet">
      <h2 class="section__title about__title">Teacher</h2>
      <picture>
        <source srcset="./images/img-mob/teachermobile.jpg" media="(max-width: 1678px)" />
        <source srcset="./images/img-desc/teacherdesctop.jpg" media="(min-width: 1680px)" />
        <img src="./images/img-mob/teachermobile.jpg" alt="" />
      </picture>
    </div>
    <div class="about-list__wrapper">
      <h3 class="about__subtitle">Elena Morozova</h3>
      <ul class="about-list">
        <li class="about-list__item">6 yeards of experience in preparing students for UPE</li>
        <li class="about-list__item">Own result of passing VNO - 197 points 2 years in a row</li>
        <li class="about-list__item">
          Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
          Test)
        </li>
      </ul>
      <p class="about__paragraph">
        Graduated from the Institute of International Relations of the NAU with a degree in
        translator-analyst.<br />In spare time takes courses from the best universities in the world
        on effective teaching and essay writing techniques.<br />Completed: English Grammar and
        Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to
        Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching
        (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).
      </p>
      <a class="about__link" href="#">Cambrige English Entry Level Certificate</a>
    </div>
  </div>
</section>
