<section class="section section__advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages">
            <li class="advantages__item">
                <h3 class="advantages__subtitle advantages__subtitle--first">
                    Adapted author's UPE program
                </h3>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__subtitle advantages__subtitle--second">
                    Modern <br> teaching methods
                </h3>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__subtitle advantages__subtitle--third">
                    Financial guarantee the result
                </h3>
            </li>
        </ul>
    </div>
    </section>