<section class="section__advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages">
            <li class="advantages__item advantages__item--first">
                <p class="advantages__subtitle">
                    Adapted author's <span class="advantages__subtitle--transfer">UPE program</span>
                </p>
            </li>
            <li class="advantages__item advantages__item--second">
                <p class="advantages__subtitle">
                    Modern <span class="advantages__subtitle--transfer">teaching methods</span>
                </p>
            </li>
            <li class="advantages__item advantages__item--third">
                <p class="advantages__subtitle">
                    Financial guarantee <span class="advantages__subtitle--transfer">the result</span>
                </p>
            </li>
        </ul>
    </div>
    </section>