<section class="section section__benefits">
  <div class="container">
    <h2 class="section__title benefits__title">Why do people choose us</h2>
    <ul class="benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Training in small groups</h3>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Rendered notes</h3>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Each lesson has a goal and a specific result</h3>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">The real results of the teacher</h3>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">
          The course program meets the requirements of the MES of Ukraine
        </h3>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Set of groups by level of knowledge</h3>
      </li>
    </ul>
  </div>
</section>
