<section class="contact section">
  <div class="container">
    <div class="contact-title-container">
      <h2 id="contacts" class="contact-title">
        Registration for a <span class="span-color">free</span> phone
        <span class="span-color">consultation</span> on the nuances of English UPE
      </h2>
    </div>
    <div class="contact-text-container">
      <p class="contact-title-text">
        Leave a request for participation in a
        <span class="span-color">free lesson</span>. <br />
        A consultant will contact you and answer your questions
      </p>
    </div>

    <form class="contact-form">
      <div class="input-container-name">
        <input
          type="text"
          class="contact-input input-name"
          placeholder="Name*"
          pattern="^[a-zA-Zа-яА-Я]+$"
          minlength="3"
          title="Name"
          required
        />
      </div>

      <div class="input-container-phone">
        <input
          type="tel"
          class="contact-input input-phone"
          placeholder="Phone*"
          pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}"
          title="0xx xxx xx xx"
          required
        />
      </div>
      <button class="contact-btn">i want a free lesson</button>
    </form>
  </div>
</section>
