<footer class="footer">
  <div class="footer-container__white container">
    <div class="logo">
      <a href="./" class="logo__link">
        <div class="logo__mobile dark-img">
          <img
            srcset="
              ./images/img-mob/logo/logo-dark.png    1x,
              ./images/img-mob/logo/logo-dark@2x.png 2x
            "
            src="./images/img-mob/logo/logo-dark.png"
            alt="logo"
            class="logo__img-dark"
          />
        </div>
        <div class="logo__up">
          <span class="logo__text-hell">Hell</span>
          <svg class="logo__icon-fire" width="22" height="30">
            <use href="./images/icons/sprite.svg#icon-fire"></use>
          </svg>
          <span class="">En</span>
        </div>
        <div class="logo__down">
          <span class="logo__text-hellish">Hellish&#160;</span>
          <span class=""> English</span>
        </div>
      </a>
    </div>
    <div class="footer-contact-item">
      <ul class="footer-contact-list">
        <li class="footer-tel">
          <a href="tel:+38(000)0000000" class="footer-link-tel">+38 (000) 000 00 00</a>
        </li>
        <li class="footer-contact-instagram">
          <a
            href="https://instagram.com"
            class="instagram-link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <img
              srcset="
                ./images/instagram-icon/instagram.png    1x,
                ./images/instagram-icon/instagram@2x.png 2x
              "
              src="./images/instagram-icon/instagram.png"
              alt="instagram"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-container__black">
    <p class="footer-text">@ All rights reserved, 2019</p>
  </div>
</footer>
