<section class="section">
    <div class="container container__hero">
        <div class="hero">
            <h1 class="hero__title">Complex preparation for English UPE</h1>
            <p class="hero__text">It won&#39;t be easy.</p>
            <p class="hero__text hero__text--bold">But you&#39;re guaranteed to get <span class="hero__text--accent">+25 points</span></p>
            <a class="hero__btn" href="#contacts">I want a free lesson</a>
        </div>

        <div class="img__thumb">
            <picture>
                <source media="(min-width: 1680px)" srcset="./images/img-desc/Group57.webp 1x, ./images/img-desc/Group57@2x.webp 2x" type="image/webp"/>
                <source media="(min-width: 1680px)" srcset="./images/img-desc/Group57.png 1x, ./images/img-desc/Group57@2x.png 2x"/>
                <source media="(min-width: 768px)" srcset="./images/img-tab/Group57.webp 1x, ./images/img-desc/Group57@2x.webp 2x" type="image/webp"/>
                <source media="(min-width: 768px)" srcset="./images/img-tab/Group57.png 1x, ./images/img-desc/Group57@2x.png 2x"/>
                <source media="(max-width: 767px)" srcset="./images/img-mob/Group57.webp 1x, ./images/img-desc/Group57@2x.webp 2x" type="image/webp"/>
                <source media="(max-width: 767px)" srcset="./images/img-mob/Group57.png 1x, ./images/img-desc/Group57@2x.png 2x"/>
                <img src="./images/img-desc/Group57.png" alt="English lessons">
            </picture>
    </div>
    
</section>
