<section class="specifications section">
    <div class="container">
        <h2 class="section__title">How do we do it</h2>
        <ul class="specifications__list list">
           <li class="specifications__item">
                <svg class="specifications__icons" width="" height="">
                    <use href="./images/icons/sprite.svg#icon-How-we-do-1"></use>
                </svg>
                <h3 class="subtitle">Adapted program
                    preparation for UPE</h3>
                <p class="description">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
            </li>
            <li class="specifications__item">
                <svg class="specifications__icons">
                    <use></use>
                </svg>
                <h3 class="specifications__subtitle"></h3>
                <p class="specifications__description"></p>
            </li>
            <li class="specifications__item">
                <svg class="specifications__icons">
                    <use></use>
                </svg>
                <h3 class="specifications__subtitle"></h3>
                <p class="specifications__description"></p>
            </li>
            <li class="specifications__item">
                <svg class="specifications__icons">
                    <use></use>
                </svg>
                <h3 class="specifications__subtitle"></h3>
                <p class="specifications__description"></p>
            </li>
            <li class="specifications__item">
                <svg class="specifications__icons">
                    <use></use>
                </svg>
                <h3 class="specifications__subtitle"></h3>
                <p class="specifications__description"></p>
            </li>
            <li class="specifications__item">
                <svg class="specifications__icons">
                    <use></use>
                </svg>
                <h3 class="specifications__subtitle"></h3>
                <p class="specifications__description"></p>
            </li>
        </ul>
    </div>
</section>