<!-- PROGRAM -->

<section class="section section__program">
  <div class="container container__program">
    <h2 class="section__title section__title_center">Our program</h2>
    <ul class="program__main-list">
      <li class="main-list__item">
        <h3 class="semestr-title">1 semester</h3>
        <ul class="programm__second-list">
          <li class="second-list__item">
            <h4 class="lesson-title">Grammar</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Nouns & Articles</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Adjectives & Adverb</p>
              </li>
            </ul>
          </li>
          <li class="second-list__item">
            <h4 class="lesson-title">Vocabulary</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Family & Relations</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">People & Society</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="main-list__item">
        <h3 class="semestr-title">2 semester</h3>
        <ul class="programm__second-list">
          <li class="second-list__item">
            <h4 class="lesson-title">Grammar</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Pronouns</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Active Voice</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Passive Voice</p>
              </li>
            </ul>
          </li>
          <li class="second-list__item">
            <h4 class="lesson-title">Vocabulary</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Home</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">School</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Work</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="main-list__item">
        <h3 class="semestr-title">3 semester</h3>
        <ul class="programm__second-list">
          <li class="second-list__item">
            <h4 class="lesson-title">Grammar</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Modal verbs</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Infinitive</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Gerund</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Participle: 1, 2</p>
              </li>
            </ul>
          </li>
          <li class="second-list__item">
            <h4 class="lesson-title">Vocabulary</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Travel & Tourism</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Culture & Free Time</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Sport</p>
              </li>
            </ul>
          </li>
          <li class="second-list__item">
            <h4 class="lesson-title">Writing</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Informal Letter</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="main-list__item">
        <h3 class="semestr-title">4 semester</h3>
        <ul class="programm__second-list">
          <li class="second-list__item">
            <h4 class="lesson-title">Grammar</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Clauses: Conditional and Wishes</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Direct / Reported speech</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Preposition</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Conjunction</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Numeral</p>
              </li>
            </ul>
          </li>
          <li class="second-list__item">
            <h4 class="lesson-title">Vocabulary</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Healthy Living</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Nature & Environment</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Money</p>
              </li>
            </ul>
          </li>
          <li class="second-list__item">
            <h4 class="lesson-title">Writing</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Formal Letter</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="main-list__item">
        <h3 class="semestr-title">5 semester</h3>
        <ul class="programm__second-list">
          <li class="second-list__item">
            <h4 class="lesson-title lesson-title_hide">W</h4>
            <ul class="program__third-list">
              <li class="third-list__item">
                <p class="lesson-description">Revision</p>
              </li>
              <li class="third-list__item">
                <p class="lesson-description">Tests</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
