

    <div class="reviews slider container">
        <h2 class="reviews__title">Feedback from graduates</h2>
       
        
       
            
        <div  class="reviews__slider ">
        <div class="overflow">
        <div class="content"> 
            <input  class="slider-input" type="radio" name="slider" id="switch1" checked>
            <input class="slider-input" type="radio" name="slider" id="switch2">
            <input class="slider-input" type="radio" name="slider" id="switch3">
            <input class="slider-input" type="radio" name="slider" id="switch4">
            <input class="slider-input" type="radio" name="slider" id="switch5">
            <input class="slider-input" type="radio" name="slider" id="switch6"> 
            <input class="slider-input" type="radio" name="slider" id="switch7">
            <input class="slider-input" type="radio" name="slider" id="switch8">      
                
                
            <div class="slider__content s1">
                <div class="support">
                <picture>
                    <source srcset="./images/img-mob/ellipse92x.png 2x" media="(min-width: 320px)"/>
                    <img class="slider__icon"
                        src="./images/img-mob/ellipse9.png" 
                        alt="Phоtо"
                        width="90"
                        height="90"
                        >
                </picture>
                <a href="" class="slider-social__link">
                    <svg class="slider-social__icon" width="20" height="20">
                        <use href="./images/icons/reviews.svg#icon-Vector">
                        </use></svg></a>
            </div>    
            <div class="support_text">   
            <h3 class="slider__content-title">Tonya Kucherovskaya</h3>
                    <p class="slider__content-text">Graduated from 2015, National University of Bioresources and natural history of Ukraine</p>
                    <article class="slider__content-comment"><h3 class="visually-hidden">Tonya Kucherovskaya</h3>In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student<a class="reade-button" href="">Read more</a></article>
                </div> 
                </div>           
        <div class="slider__content ">
                    <div class="support">
                    <picture>
                       
                        <source srcset="./images/img-mob/Ellipse102x.png 2x" media="(min-width: 320px)"/>
                        <img class="slider__icon"
                            src="./images/img-mob/Ellipse10.png" 
                            alt="Phоtо"
                            width="90"
                            height="90"
                            >
                    </picture>
                    <a href="" class="slider-social__link">
                        <svg class="slider-social__icon" width="20" height="20">
                            <use href="./images/icons/Reviews.svg#icon-Vector">
                            </use></svg></a>
                </div>    
                <div class="support_text">   
                <h3 class="slider__content-title">Tonya Kucherovskaya</h3>
                        <p class="slider__content-text">Graduated from 2015, National University of Bioresources and natural history of Ukraine</p>

                        <article class="slider__content-comment"><h3 class="visually-hidden">Tonya Kucherovskaya</h3>In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student<a class="reade-button" href="">Read more</a></article>
                    </div> 
                    </div>            
        <div class="slider__content">
                    <div class="support"> 
                    <picture>
                        
                        <source srcset="./images/img-mob/Ellipse112x.png 2x" media="(min-width: 320px)"/>
                        <img class="slider__icon"
                            src="./images/img-mob/Ellipse11.png" 
                            alt="Phоtо"
                            width="90"
                            height="90"
                            >
                    </picture>
                    <a href="" class="slider-social__link">
                        <svg class="slider-social__icon" width="20" height="20">
                            <use href="./images/icons/Reviews.svg#icon-Vector">
                            </use></svg></a>
                    </div>
                    <div class="support_text"> 
                        <h3 class="slider__content-title">Tonya Kucherovskaya</h3>
                        <p class="slider__content-text">Graduated from 2015, National University of Bioresources and natural history of Ukraine</p>

                        <article class="slider__content-comment"><h3 class="visually-hidden">Tonya Kucherovskaya</h3>In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student<a class="reade-button" href="">Read more</a></article>

                    </div>
                    </div>

            <div class="slider__content">
                        <div class="support"> 
                        <picture>
                            


                            <source srcset="./images/img-mob/ellipse122x.png 2x" media="(min-width: 320px)"/>

                            <img class="slider__icon"
                                src="./images/img-mob/Ellipse12.png" 
                                alt="Phоtо"
                                width="90"
                                height="90"
                                >
                        </picture>
                        <a href="" class="slider-social__link">
                            <svg class="slider-social__icon" width="20" height="20">
                                <use href="./images/icons/Reviews.svg#icon-Vector">
                                </use></svg></a>
                        </div>
                        <div class="support_text"> 
                            <h3 class="slider__content-title">Tonya Kucherovskaya</h3>
                            <p class="slider__content-text">Graduated from 2015, National University of Bioresources and natural history of Ukraine</p>

                            <article class="slider__content-comment"><h3 class="visually-hidden">Tonya Kucherovskaya</h3>In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student<a class="reade-button" href="">Read more</a></article>

                        </div>
                        </div>
                <div class="slider__content">
                            <div class="support"> 
                            <picture>
                                
                                <source srcset="./images/img-mob/Ellipse132x.png 2x" media="(min-width: 320px)"/>
                                <img class="slider__icon"
                                    src="./images/img-mob/Ellipse13.png" 
                                    alt="Phоtо"
                                    width="90"
                                    height="90"
                                    >
                            </picture>
                            <a href="" class="slider-social__link">
                                <svg class="slider-social__icon" width="20" height="20">
                                    <use href="./images/icons/Reviews.svg#icon-Vector">
                                    </use></svg></a>
                            </div>
                            <div class="support_text"> 
                                <h3 class="slider__content-title">Tonya Kucherovskaya</h3>
                                <p class="slider__content-text">Graduated from 2015, National University of Bioresources and natural history of Ukraine</p>

                                <article class="slider__content-comment"><h3 class="visually-hidden">Tonya Kucherovskaya</h3>In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student<a class="reade-button" href="">Read more</a></article>

                            </div>
                            </div>
                <div class="slider__content">
                                <div class="support"> 
                                <picture>
                                    
                                    <source srcset="./images/img-mob/Ellipse142x.png 2x" media="(min-width: 320px)"/>
                                    <img class="slider__icon"
                                        src="./images/img-mob/Ellipse14.png" 
                                        alt="Phоtо"
                                        width="90"
                                        height="90"
                                        >
                                </picture>
                                <a href="" class="slider-social__link">
                                    <svg class="slider-social__icon" width="20" height="20">
                                        <use href="./images/icons/Reviews.svg#icon-Vector">
                                        </use></svg></a>
                                </div>
                                <div class="support_text"> 
                                    <h3 class="slider__content-title">Tonya Kucherovskaya</h3>
                                    <p class="slider__content-text">Graduated from 2015, National University of Bioresources and natural history of Ukraine</p>

                                    <article class="slider__content-comment"><h3 class="visually-hidden">Tonya Kucherovskaya</h3>In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student<a class="reade-button" href="">Read more</a></article>

                                </div>
                                </div>
                                <div class="slider__content">
                                    <div class="support"> 
                                    <picture>
                                        
                                        <source srcset="./images/img-mob/Ellipse152x.png 2x" media="(min-width: 320px)"/>
                                        <img class="slider__icon"
                                            src="./images/img-mob/Ellipse15.png" 
                                            alt="Phоtо"
                                            width="90"
                                            height="90"
                                            >
                                    </picture>
                                    <a href="" class="slider-social__link">
                                        <svg class="slider-social__icon" width="20" height="20">
                                            <use href="./images/icons/Reviews.svg#icon-Vector">
                                            </use></svg></a>
                                    </div>
                                    <div class="support_text"> 
                                        <h3 class="slider__content-title">Tonya Kucherovskaya</h3>
                                        <p class="slider__content-text">Graduated from 2015, National University of Bioresources and natural history of Ukraine</p>

                                        <article class="slider__content-comment"><h3 class="visually-hidden">Tonya Kucherovskaya</h3>In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm student<a class="reade-button" href="">Read more</a></article>

                                    </div>
                                    </div> 
                                
            </div>
            </div>
            </div>

            <button type="button" class="slider-prev">
                <a href="" class="button__icon-link">
                <svg class="button__icon" width="20" height="20">
                    <use href="./images/icons/reviews.svg#icon-Arrow-L">
                    </use></svg></a>
                </button>
            <button type="button" class="slider-next">
                <a href="" class="button__icon-link">
                <svg class="button__icon" width="20" height="20">
                    <use href="./images/icons/reviews.svg#icon-Arrow-R">
                    </use></svg></a></button>
            


                <div class="navigation" id="navigation">
                    <label class="navigation__bar " for="switch1">
                        <picture>
                        <source srcset="./images/img-mob/Ellipse2x.png 2x" media="(min-width: 320px)"/>
                        <img class=""
                        src="./images/img-mob/Ellipse.png" 
                        alt="Phоtо"
                        width="54"
                        height="54"
                        >
                        </picture> 
                    </label>
                    <label class="navigation__bar" for="switch2">
                        <picture>
                        <source srcset="./images/img-mob/Ellipse2x.png 2x" media="(min-width: 320px)"/>
                        <img class=""
                        src="./images/img-mob/Ellipse9.png" 
                        alt="Phоtо"
                        width="54"
                        height="54"
                        >
                        </picture>
                        </label>
                    <label class="navigation__bar" for="switch3">
                        <picture>
                        <source srcset="./images/img-mob/Ellipse102x.png 2x" media="(min-width: 320px)"/>
                        <img class=""
                        src="./images/img-mob/Ellipse10.png" 
                        alt="Phоtо"
                        width="54"
                        height="54"
                        >
                    </picture>
                    </label>
                    <label class="navigation__bar" for="switch4">
                        <picture>
                        <source srcset="./images/img-mob/Ellipse112x.png 2x" media="(min-width: 320px)"/>
                        <img class=""
                        src="./images/img-mob/Ellipse11.png" 
                        alt="Phоtо"
                        width="54"
                        height="54"
                        >
                    </picture>
                    </label>
                    <label class="navigation__bar" for="switch5">
                        <picture>
                        <source srcset="./images/img-mob/Ellipse122x.png 2x" media="(min-width: 320px)"/>
                        <img class=""
                        src="./images/img-mob/Ellipse12.png" 
                        alt="Phоtо"
                        width="54"
                        height="54"
                        >
                    </picture>
                    </label>
                    <label class="navigation__bar" for="switch6">
                        <picture>
                        <source srcset="./images/img-mob/Ellipse132x.png 2x" media="(min-width: 320px)"/>
                        <img class=""
                        src="./images/img-mob/Ellipse13.png" 
                        alt="Phоtо"
                        width="54"
                        height="54"
                        >
                    </picture>
                    </label>
                    <label class="navigation__bar" for="switch7">
                        <picture>
                        <source srcset="./images/img-mob/Ellipse142x.png 2x" media="(min-width: 320px)"/>
                        <img class=""
                        src="./images/img-mob/Ellipse14.png" 
                        alt="Phоtо"
                        width="54"
                        height="54"
                        >
                    </picture>
                    </label>
                    <label class="navigation__bar" for="switch8">
                        <picture>
                        <source srcset="./images/img-mob/Ellipse152x.png 2x" media="(min-width: 320px)"/>
                        <img class=""
                        src="./images/img-mob/Ellipse15.png" 
                        alt="Phоtо"
                        width="54"
                        height="54"
                        >
                    </picture>
                    </label>
    
                </div>
            </div>
               <!-- <div id="controls">
					<label for="switch1"></label>
					<label for="switch2"></label>
					<label for="switch3"></label>
					<label for="switch4"></label>
				</div>-->
            
    
    </div>
    
    
    
