.logo {
  width: 128px;
  display: inline-block;

  &__light {
    color: var(--dark-theme-text-color);
  }
}

.logo__up,
.logo__down {
  display: flex;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.logo__up {
  @include fonts(800, 26px, 32px);
  margin-bottom: 3px;
}

.logo__down {
  @include fonts(700, 8px, 10px);
}

.logo__text-hell {
  text-transform: capitalize;
}

.logo__icon-fire {
  fill: var(--accent-color);
  margin: 0 4px;
}

.logo__text-hellish {
  color: var(--accent-color);
  padding: 0 2px;
}
