.section-title {
    font-style: normal;
    @include fonts(800, 20px, 26px);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  
    @media screen and (min-width: 768px) and (max-width: 1679px) {
      @include fonts(800, 26px, 34px);
    }

    @media screen and  (min-width: 1680px){
        @include fonts(800, 46px, 60px);
    }
  }
  