.about__section {
    padding-bottom: 40px;
}
.about__tablet {
    width: 242px;
    margin-bottom: 20px;
}
.about__title {
    margin-bottom: 20px;
}
.about__subtitle {  
    font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.08em;
        padding-bottom: 8px;
        border-bottom: 1px solid #B9B9B9;
        margin-bottom: 20px;
}
.about-list {
    padding-left: 30px;
    margin-bottom: 61px;
}

.about-list__item {
    font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.06em;
        color: #111518;
        &:not(:last-child) {
                margin-bottom: 28px;
            }

        &::before {
            position: absolute;
                content: '';
                display: inline-block;
                width: 17px;
                height: 14px;
                background-image: url(../images/small-rexana.svg);
                background-size: cover;
                transform: translate(-26px, 10px);
        }
}
.about__paragraph {
    font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        color: #B9B9B9;
        margin-bottom: 8px;
        &::before {
            position: absolute;
                content: '';
                display: inline-block;
                width: 20px;
                height: 2px;
                background-image: url(../images/about-minus.svg);
                background-size: cover;
                transform: translate(0px, -20px);
        }
}

.about__paragraph_brake{
    display: block;

}

.about__link {
    font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        text-decoration-line: underline;
        color: #FF6B09;
}
@media screen and (min-width: 768px) {
    .about {
        display: flex;
        justify-content: space-between;
    }
        .about-list__wrapper {
            width: 401px;
        }
    .about__title {
        margin-bottom: 40px;
        padding-left: 8px;
    }
    .about__tablet {
        margin-bottom: 0;
    }
    .about-list {
        margin-right: 0;
    }
    .about-list__item {
        font-size: 12px;
        line-height: 1.3;
        padding-left: 0;
        &::before {
            transform: translate(-26px, 0px);
        }
    }
    .about__paragraph {
        margin-bottom: 24px;
        font-size: 10px;
        line-height: 2;
    }
}

@media screen and (min-width: 1680px) {
    .about {
        padding-right: 280px;
    }
    .about__section {
        padding-bottom: 120px;
    }
    .about__tablet {
            width: 528px;
        }
    .about__title {
            margin-bottom: 80px;
            font-weight: 800;
            font-size: 46px;
            line-height: 1.3;
        }
    .about-list__wrapper {
            width: 668px;
        }
    .about__subtitle {
        font-size: 30px;
        line-height: 1.2;
        padding-bottom: 16px;
        margin-bottom: 32px;
    }
    .about-list {
        padding-left: 60px;
    }
    .about-list__item {
        font-size: 16px;
        line-height: 1.2;
        &:not(:last-child) {
            margin-bottom: 38px;
        }
        &::before {
            width: 24px;
            height: 20px;
            background-image: url(../images/big-rexana.svg);
            transform: translate(-60px, 1px);
        }
    }
    .about__paragraph {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 50px;
    }

    .about__paragraph_brake:not(:last-child){
        margin-bottom: 15px;
    }

    .about__link {
        font-size: 18px;
        line-height: 1.6;
    }
}