.section__advantages{
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
 }
 .advantages__item {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    @include fonts(700, 14px, 23px);
    letter-spacing: 0.08em;
    color: var(--primary-text-color);
}
.advantages__item:not(:last-child) {
    margin-bottom: 28px;
}
.advantages__subtitle {
    margin-left: 72px;
}
.advantages__subtitle--transfer{
    display: block;
}
.advantages__item::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 59px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    }
    .advantages__item--first::before {
        background-image: url("../../src/images/icons/adapted.svg");
    }
    .advantages__item--second::before {
        background-image: url("../../src/images/icons/modern.svg");
    }
    .advantages__item--third::before {
        background-image: url("../../src/images/icons/financial.svg");
    }
    @media screen and (min-width: 320px){
        .advantages__item{
            width: 280px;
        }
    }
    @media screen and (min-width: 768px) {
        .advantages {
            display: flex;
            margin-left: -30px;
            padding-left: 10px;
            flex-wrap: wrap;
            align-items: center;
            &__item {
                flex-basis: calc((100% - 90px) / 3); 
                margin-left: 30px;
                padding-top: 0px;
                padding-bottom: 0px;
            } 
        }
        .advantages__item:not(:last-child) {
                margin-bottom: 0;
            }
        .section__advantages{
                padding-bottom: 80px;
            }
    }
    
    @media screen and (min-width: 1680px) {
        .advantages {
            margin-left: -112px;
            padding-right: 40px;
            &__item {
                @include fonts(700, 20px, 33px);
                flex-basis: calc((100% - 336px) / 3); 
                margin-left: 112px;
                padding-top: 18px;
                padding-bottom: 18px;
            } 
        }
        .advantages__subtitle {
            margin-left: 82px;
        }
        .advantages__item::before {
            width: 100px;
            height: 102px;
            }
            .advantages__item--first::before {
                background-image: url("../../src/images/icons/adapted-desc.svg");
            }
            .advantages__item--second::before {
                background-image: url("../../src/images/icons/modern-desc.svg");
            }
            .advantages__item--third::before {
                background-image: url("../../src/images/icons/financial-desc.svg");
            }
        }