.section__benefits {
  padding-bottom: 0;
  margin-bottom: 40px;
  background-image: linear-gradient(to bottom, var(--background-dark-color) 60%, var(--background-white-color) 60%);
}

.benefits__title {
  margin-bottom: 32px;
  color: var(--dark-theme-text-color);

  @media screen and (max-width: 410px) {
    width: 180px;
  }
}

.benefits__list {
  padding: 20px 24px 20px 20px;
  background-color: var(--background-white-color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  counter-reset: section;
}

.benefits__item {
  margin-bottom: 40px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    left: 30px;
    counter-increment: section;
    content: "0" counter(section);
    @include fonts(700, 14px, 17px);
    letter-spacing: 0.08em;
    color: var(--accent-color);
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--accent-color);
  }
}

.benefits__subtitle {
  @include fonts(700, 14px, 20px);
  letter-spacing: 0.08em;
}

// №№№№№№№№№№№№№№№№№№№№№№№  768+

@media screen and (min-width: 768px) {
  
  .section__benefits {
    background-image: linear-gradient(to bottom, var(--background-dark-color) 38%, var(--background-white-color) 38%);
  }

  .benefits__title {
    margin-bottom: 40px;
    text-align: center;
  }

  .benefits__list {
    padding: 40px 120px 40px 92px;
    display: flex;
    flex-wrap: wrap;
  }

  .benefits__item {
    width: 236px;
    margin-bottom: 44px;
    margin-right: 42px;
    position: relative;

    @media screen and (max-width:1679px) {
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
      
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }  
  }
}

//№№№№№№№№№№№№№№№№№№№№№№№№№№  1680+

@media screen and (min-width: 1680px) {
  .section__benefits {
    position: relative;
    z-index: 5;
    margin-top: -200px;
    margin-bottom: 80px;
    // background-color: transparent;
    background-image: none;
  }

  .benefits__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  }

  .benefits__list {
    padding: 60px 32px 60px 140px;
    background-color: var(--background-white-color);
  }

  .benefits__item {
    width: 356px;
    margin-bottom: 72px;
    margin-right: 204px;
    position: relative;

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
    
    &:nth-child(3n+3) {
      margin-right: 0;
    }

    &::before {
      @include fonts(700, 20px, 33px);
    }

    &::after {
      top: 15px;
    }
  }

  .benefits__subtitle {
    @include fonts(700, 20px, 28px);
  }
}