// .guarantee {
//     background: #f1f1f1;
//     padding-top: 40px;
//     padding-bottom: 40px;
// }
.title-guarantee {
    text-align: center;
    margin-bottom: 40px;
}
.guarantee-list {
    display: flex;
    justify-content: center;
}
// .guarantee-list__border {
// }
.guarantee-list__wrapper {
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
        padding-bottom: 20px;
        border-left: 1px dashed #b9b9b9;
    }
}
.guarantee-list__item {
    text-align: start;
    max-width: 558px;
    padding-left: 29px;

    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        color: #3D3D3D;
        span {
            color: var(--accent-color);
        }
    &::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 14.5px;
        height: 20px;
        background-image: url(../images/garantee-fire-small.svg);
        background-size: cover;
        transform: translate(-36px, -1px);
        background-color: #f1f1f1;
    }
}

@media screen and (max-width: 767px) {
    .guarantee-list__border {
        max-width: 266px;
    }
    .guarantee-list {
        padding-left: 12px;
        padding-right: 12px;
    }
    .guarantee-list__wrapper {
        max-width: 270px;
    }
        .guarantee {
            background: #f1f1f1;
            padding-top: 40px;
            padding-bottom: 40px;
        }
}

@media screen and (min-width: 768px) {
    .guarantee {
        background: none;
    }
    .guarantee-list__wrapper {
        width: 550px;
    }
    .guarantee-wrapper {
        width: 710px;
        background: #f1f1f1;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
@media screen and (min-width: 1680px) {
    .guarantee-section {
        display: none;
    }
}