.guarantee__section{
margin-top: 0;
margin-bottom: 0;
padding-bottom: 40px;
padding-top: 0;
}

.title-guarantee {
    text-align: center;
    margin-bottom: 40px;
}
.guarantee-list {
    justify-content: center;
}

.guarantee-list__container {
    margin-left: auto;
    margin-right: auto;
}
.guarantee-wrapper {
    background: #f1f1f1;
}
.guarantee-list__item {
    text-align: start;
    padding-left: 28px;

    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        color: #3D3D3D;
        span {
            color: var(--accent-color);
        }
    &::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 14.5px;
        height: 20px;
        background-image: url(../images/garantee-fire-small.svg);
        background-size: cover;
        transform: translate(-36px, -1px);
        background-color: #f1f1f1;
    }
        &:not(:last-child) {
            padding-bottom: 24px;
            border-left: 1px dashed #b9b9b9;
        }
}

@media screen and (max-width: 767px) {
    // .guarantee-section{
    // background-image: linear-gradient(#ffffff 66px, #f1f1f1 66px);
    //     padding-bottom: 0;
    //     margin-bottom: 40px;
    // }
    .guarantee-list__item {
        max-width: 558px;

    }
    .guarantee-list {
        padding-left: 6px;
        padding-right: 12px;
        margin-left: 10px;
    }
    .guarantee-list__container {
        max-width: 480px;
    }
        .guarantee {
            
            background: #f1f1f1;
            padding-top: 40px;
            padding-bottom: 40px;
        }
}

@media screen and (min-width: 768px) {
    .container__guarantee{
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .guarantee {
        background: none;
    }
    .guarantee-list {
        margin-left: auto;
        margin-right: auto;
    }
    .guarantee-list__container {
        width: 571px;
    }
    .guarantee-wrapper {
        width: 738px;
        background: #f1f1f1;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .guarantee-list__item:not(:last-child) {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 1679px) {
    
    .guarantee-list__item {
        max-width: 558px;

    }

    .guarantee-list {
        padding-left: 12px;
        padding-right: 12px;
    }

    // .guarantee {
    //     padding-top: 40px;
    //     padding-bottom: 40px;
    // }
}

@media screen and (min-width: 1680px) {
    .guarantee__section {
        padding-bottom: 80px;
    }
    
    .container__guarantee {
        width: 1680px;
    }

    // .guarantee {
    //     background: #f1f1f1;
    //     max-width: 1648px;
    //     margin-right: auto;
    //     margin-left: auto;
    // }
    .guarantee-list__container {
        width: 100%;
            // padding-top: 60px;
            // padding-bottom: 60px;
    }
    .guarantee-list {
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .guarantee-list__item {
        width: 1080px;
        font-size: 20px;
        line-height: 1.4;
        &::before {
                position: absolute;
                content: '';
                display: inline-block;
                width: 22px;
                height: 30px;
                background-image: url(../images/garantee-fire-big.svg);
                background-size: cover;
                transform: translate(-40px, -1px);
                background-color: #f1f1f1;
            }
        
    }

    .guarantee-wrapper {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
}