.reviews {
    width: 100%;
   margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px;
    @media screen and (min-width: 480px)  and (max-width: 768px) {
        width: 480px;
    }
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        width: 768px;
        
        padding-bottom: 40px;
        
    }
    @media screen and (min-width: 1680px) {
        width: 1680px;
        
        padding-bottom: 80px;
    } 
}
.reviews__container{
    @media screen and (min-width: 1680px) {
       
        
       
    }
    }
.reviews__title{
    text-align: center;
    margin-bottom: 24px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 1.3;
/* or 26px */

text-align: center;
letter-spacing: 0.03em;
color: #111518;

@media screen and (min-width: 768px)  and (max-width: 1679px) {
    margin-bottom: 40px;
    font-size: 26px;
   
}
@media screen and (min-width: 1680px) {
    margin-bottom: 40px;
    font-size: 46px;

}
}
.reviews__slider{
  max-width: 480px;  
  @media screen and (min-width: 768px)  and (max-width: 1679px) {
    max-width: 768px;
    background: #FFFFFF;
        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 48px;
    
    }
@media screen and (min-width: 1680px) {
    max-width: 1088px;
    background: #FFFFFF;
        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 80px;
        padding-right: 110px;
    }

  text-align: center;
  margin: 0 auto;
}
.overflow{
    width: 100%;
   overflow: hidden;
   
}
.content {
    width: 700%;
    display: flex;
}
.slider{
  position: relative; 
  
}
.slider__content{
    width: 14.28%;
    display: block;

    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        display: flex;
        
        
    }
    @media screen and (min-width: 1680px) {
        display: flex; 
    }
   
        
}
.slider__icon{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 24px;
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        width: 150px;
        height: 150px;
        
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1680px) {
        width: 150px;
        height: 150px;
        
        margin-bottom: 8px;
    }
}
    .slider-social__link{
        
        color: #436EAB;
        justify-content: center;
        text-align: center;
        display: inline-block;
        
        margin-bottom: 24px;
        @media screen and (min-width: 768px)  and (max-width: 1679px) {
            margin-bottom: 0px;
            margin-left: 30px;
        }
        @media screen and (min-width: 1680px) {
            margin-bottom: 0px; 
        }

    }
.slider-social__icon{
        width: 30px;
        height: 30px;
        
        fill: currentColor;
}
.support {
    display: block;
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        margin-right: 40px;
       
    }
    @media screen and (min-width: 1680px) {
        
        margin-right: 40px;
       
    }
}
.support_text{
    display: block;
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        width: 412px;
        
    }
    @media screen and (min-width: 1680px) {
        width: 706px;
    }
}
.slider__content-title{
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: calc(17/14);
/* identical to box height */

text-align: center;
letter-spacing: 0.08em;

color: #FF6B09;
@media screen and (min-width: 768px)  and (max-width: 1679px) {
    font-size: 20px;
    line-height: calc(24/20); 
    text-align: left;
    
}
@media screen and (min-width: 1680px) {
    font-size: 30px;
    line-height: calc(37/30);
    text-align: left;
}
}
.slider__content-text{
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(15/12);
    text-align: center;
    letter-spacing: 0.08em;
    
    color: #B9B9B9;
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        text-align: left;
       
    }
    @media screen and (min-width: 1680px) {
        font-size: 14px;
        line-height: calc(17/14);
        text-align: left;
        width: 482px;
    } 
}
.slider__content-comment{
    
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20/12);
    /* or 167% */
    
    text-align: center;
    
    color: #3D3D3D;
    outline: none;
    overflow: hidden;
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        text-align: left;
    }
    @media screen and (min-width: 1680px) {
        font-size: 18px;
        line-height: calc(28/18);
        text-align: left;
    }
}
.reade-button{
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20/12);
    outline: none;
    color: #FF6B09;
    text-decoration: underline;
    @media screen and (min-width: 1680px) {
        font-size: 18px;
        line-height: calc(28/18);
    }
    
}
/*.reade-button:focus ~ .text {height: auto;} */


.slider-prev{
    border: none;
    background-color: transparent;
   position: absolute; 
   bottom: 10px;
   color: #FF6B09;

   @media screen and (min-width: 768px)  and (max-width: 1680px) {
    bottom: 230px;
      
 }
     @media screen and (min-width: 1680px) {
        bottom: 330px; 
        left: 240px;
     
 }
}
.slider-next{
    border: none;
    background-color: transparent;
    position: absolute; 
    right: 15px;
    bottom: 10px;
    @media screen and (min-width: 768px)  and (max-width: 1680px) {
        right: 15px;
        bottom: 230px; 
          
     }
         @media screen and (min-width: 1680px) {
            right: 0px;
            left: 1390px;
            bottom: 330px;  
         
     }
}
.button__icon-link{
    color: #FF6B09;
}
.button__icon{
    
    width: 25px;
    height: 25px;
    bottom: 10px;
    fill: currentColor;
}
.navigation {
   display: flex;
   margin: 0 auto; 
   justify-content: center;
  
  @media screen and (min-width: 768px)  and (max-width: 1680px) {
   margin-top: 20px;  
   width: 768px;  
   
}
    @media screen and (min-width: 1680px) {
     margin-top: 40px; 
    
}

}
.navigation-hidden {
   display: none;

    @media screen and (min-width: 768px)  and (max-width: 1680px) {
     display: block; 
     }
         @media screen and (min-width: 1680px) {
    display: block;   
         
     }
}

.navigation__bar{
    width: 54px;
   
}
.navigation__bar + .navigation__bar {
    margin-left: 10px;
  }
 
.slider-input{
    display: none;
}
input[name="slider"]{
    position: relative;
    visibility: hidden;
}
#switch1:checked ~ .s1 {
    margin-left: 0;
}
#switch2:checked ~ .s1 {
    margin-left: -14.28%;
}
#switch3:checked ~ .s1 {
    margin-left: -28.5%;
}
#switch4:checked ~ .s1 {
    margin-left: -42.84%;
}
#switch5:checked ~ .s1 {
    margin-left: -57.12%;
}
#switch6:checked ~ .s1 {
    margin-left: -71.4%;
}
#switch7:checked ~ .s1 {
    margin-left: -85.68%;
}


