.reviews {
    width: 100%;
   padding-left: 40px;
   padding-right: 40px;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    @media screen and (min-width: 480px)  and (max-width: 768px) {
        width: 480px;
    }
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        width: 768px;
        padding-left: 32px;
   padding-right: 32px;
    }
    @media screen and (min-width: 1680px) {
        width: 1680px;
        padding-left: 296px;
        padding-right: 296px;
    } 
}
.reviews__title{
    text-align: center;
    margin-bottom: 24px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 1.3;
/* or 26px */

text-align: center;
letter-spacing: 0.03em;
color: #111518;

@media screen and (min-width: 768px)  and (max-width: 1679px) {
    margin-bottom: 40px;
    font-size: 26px;
   
}
@media screen and (min-width: 1680px) {
    margin-bottom: 40px;
    font-size: 46px;

}
}
.reviews__slider{
  max-width: 480px;  
  @media screen and (min-width: 768px)  and (max-width: 1679px) {
    max-width: 768px;
    background: #FFFFFF;
        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 48px;
    
    }
@media screen and (min-width: 1680px) {
    max-width: 1680px;
    background: #FFFFFF;
        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 80px;
        padding-right: 110px;
    }

  text-align: center;
  margin: 0 auto;
}
.overflow{
    width: 100%;
   overflow: hidden;
   
}
.content {
    width: 800%;
    display: flex;
}
.slider{
  position: relative; 
  
}
.slider__content{
    width: 25%;
    display: block;
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        display: flex;
        
        
    }
    @media screen and (min-width: 1680px) {
        display: flex; 
    }
   
        
}
.slider__icon{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 24px;
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        width: 150px;
        height: 150px;
        margin-right: 40px;
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1680px) {
        width: 150px;
        height: 150px;
        margin-right: 40px;
        margin-bottom: 8px;
    }
}
    .slider-social__link{
        
        color: #436EAB;
        justify-content: center;
        text-align: center;
        
        margin-bottom: 57px;
        @media screen and (min-width: 768px)  and (max-width: 1679px) {
            margin-bottom: 0px;
        }
        @media screen and (min-width: 1680px) {
            margin-bottom: 0px; 
        }

    }
.slider-social__icon{
        width: 30px;
        height: 30px;
        margin-bottom: 57px;
        fill: currentColor;
}
.support {
    display: block;
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
       
       
    }
}
.support_text{
    display: block;
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        width: 412px;
        
    }
    @media screen and (min-width: 1680px) {
        width: 706px;
    }
}
.slider__content-title{
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: calc(17/14);
/* identical to box height */

text-align: center;
letter-spacing: 0.08em;

color: #FF6B09;
@media screen and (min-width: 768px)  and (max-width: 1679px) {
    font-size: 20px;
    line-height: calc(24/20); 
    
}
@media screen and (min-width: 1680px) {
    font-size: 30px;
    line-height: calc(37/30);
}
}
.slider__content-text{
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(15/12);
    text-align: center;
    letter-spacing: 0.08em;
    
    color: #B9B9B9;
    @media screen and (min-width: 768px)  and (max-width: 1679px) {
        
    }
    @media screen and (min-width: 1680px) {
        font-size: 14px;
        line-height: calc(17/14);
    } 
}
.slider__content-comment{
    
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20/12);
    /* or 167% */
    
    text-align: center;
    
    color: #3D3D3D;
    outline: none;
    overflow: hidden;
    @media screen and (min-width: 1680px) {
        font-size: 18px;
        line-height: calc(28/18);
    }
}
.reade-button{
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20/12);
    outline: none;
    color: #FF6B09;
    @media screen and (min-width: 1680px) {
        font-size: 18px;
        line-height: calc(28/18);
    }
    
}
.reade-button:focus ~ .text {height: auto;}

.navigation {
  position: relative;  
    display: flex;
  overflow: hidden;
  justify-content: center;
  @media screen and (min-width: 768px)  and (max-width: 1680px) {
   margin-top: 20px;    
    margin-bottom: 40px;   
}
    @media screen and (min-width: 1680px) {
    margin-top: 40px;    
    margin-bottom: 80px;
}

}
.navigation__bar{
    width: 54px;
    height: 54px;
    margin: 12px;
    

}

#controls{ /*положение блока всех управляющих элементов*/
    display: block;
height: 50px;
}
/*настройка переключения и положения для левой стрелки*/
#switch1:checked ~ #controls label:nth-child(4), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3){

/* вставить картинку*/
background-image: url('../images/img-mob/Ellipse.png')no-repeat;/*заливка фона картинкой без повторений*/

display: block;
height: 68px;
width: 68px;
margin-bottom: 20px;
}
/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(1){
 /*заливка фона картинкой без повторений*/
 background-image: url('../images/img-mob/Ellipse.png')no-repeat;
   display: block;
height: 68px;
width: 68px;
margin-bottom: 20px;
}




.slider-input{
    display: none;
}
input[name="slider"]{
    position: relative;
    visibility: hidden;
}
#switch1:checked ~ .s1 {
    margin-left: 0;
}
#switch2:checked ~ .s1 {
    margin-left: -25%;
}
#switch3:checked ~ .s1 {
    margin-left: -50%;
}
#swich4:checked ~ .s1 {
    margin-left: -75%;
}
#swich5:checked ~ .s1 {
    margin-left: -100%;
}
#swich6:checked ~ .s1 {
    margin-left: -125%;
}
#swich7:checked ~ .s1 {
    margin-left: -150%;
}
#swich8:checked ~ .s1 {
    margin-left: -175%;
}

